body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css?family=Ruda:900');

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6G7fQ444ZF3TpCxA5qAu6-qw6TeRotqCMMQ&usqp=CAU);
  background-size: 3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
